"""
WSGI config for resolve-url project.
"""
import os
import sys
import site

SITE_PACKAGES_DIR = 'path_to_site-packages_in_virtualenv'
APPLICATION_DIR = 'path_to_resolve-url_root'

site.addsitedir(SITE_PACKAGES_DIR)
sys.path.append(APPLICATION_DIR)
sys.stdout = sys.stderr

from api import app as application
